name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.41.2"
          channel: "stable"

      - run: flutter pub get

      # ✅ repo nomi my-portfolio bo‘lgani uchun shu shart
      - run: flutter build web --release --base-href "/my-portfolio/"

      # ✅ refreshda route ishlashi uchun
      - run: cp build/web/index.html build/web/404.html

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web